<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDthcw2ChatDjhzip24hM24WMP68ML29PE</string>
	<key>GCM_SENDER_ID</key>
	<string>1010532073490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michelleduque.music-selector</string>
	<key>PROJECT_ID</key>
	<string>musicselector-acda3</string>
	<key>STORAGE_BUCKET</key>
	<string>musicselector-acda3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010532073490:ios:d78abc0f425b09a05858cb</string>
</dict>
</plist>